<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta charset="utf-8">
	<title>Creative Portfolio Website Design | Responsive Design</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style9.css')}}">
</head>
<body>
    <header>
        <a href="#" class="logo">Hire Me</a>
    </header>
    <div class="contact-info">
        <div class="card">
            <i class="card-icon far fa-envelope"></i>
            <p>js1932002singh@gmail.com</p>
        </div>
        <div class="card">
            <i class="card-icon fas fa-phone"></i>
            <p>+91 9717682686</p>
        </div>
        <div class="card">
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>Delhi, India</p>
        </div>
    </div>
    <ul class="sci">
        <li><a href="#"><img src="{{ url_for('static', filename='icons/facebook.png')}}"></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename='icons/twitter.png')}}"></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename='icons/instagram.png')}}"></a></li>
    </ul>
</body>
<script src="https://kit.fontawesome.com/718354c4cc.js" crossorigin="anonymous"></script>
</html>