<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta charset="utf-8">
	<title>Creative Portfolio Website Design | Responsive Design</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style10.css')}}">
</head>
<body>
    <header>
        <a href="#" class="logo">Parallax Pages</a>
    </header>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='images/img1.jpg')}}">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h3>Moon Light Parallax Scrolling</h3>
                    <p>Parallax scrolling website objects moves with scrolling & gives parallax effect</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='images/img2.jpg')}}">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h3>Parallax Animated Water Waves</h3>
                    <p>Animated Parallax Water Wave Effects gives water waves effect on scrolling</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='images/img3.jpg')}}">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h3>Summer Parallax</h3>
                    <p>Summer | Awesome Mousemove Background Parallax Effect using Parallax.Js</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='images/img4.jpg')}}">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h3>Creative Parallax</h3>
                    <p>Creative Parallax Scrolling Effects using GSAP's ScrollTrigger</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='images/img5.jpg')}}">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h3>Corner Text Parallax Effect</h3>
                    <p>Corner Text Parallax Effects using CSS & Vanilla Javascript | Website Header Effects</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='images/img6.jpg')}}">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h3>Glassmorphism E-commerce Page</h3>
                    <p>CSS Glassmorphism Product Card Slider UI Design | Html CSS and Javascript</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>