<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style7.css')}}">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <label href="#" class="logo">Social</label>
      <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/testimonial">Testimonial</a></li>
        <li><a href="/social">Social</a></li>
      </ul>
    </nav>
    <section class="socialMedia">
      <ul class="sci">
        <li data-text="Facebook" data-color="#1877f2">
          <a href="https://www.facebook.com/profile.php?id=100024836645592" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li data-text="Youtube" data-color="#ff0000">
          <a href="https://www.youtube.com/channel/UCG5DeOvBUjscQTn4yhgVqZQ" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
        <li data-text="Twitter" data-color="#0099ff">
          <a href="https://twitter.com/Jaspree77422561" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li data-text="Instagram" data-color="#e4405f">
          <a href="https://www.instagram.com/official_jassi98/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </section>
    <script src="{{ url_for('static', filename='javascripts/vanilla-tilt.min.js')}}"></script>
    <script>

      VanillaTilt.init(document.querySelectorAll(".sci li a"), {
		  max: 30,
		  speed: 400,
      glare: true,
      "max-glare": 1,
	    });

      let list = document.querySelectorAll('.sci li');
      let bg = document.querySelector('.socialMedia');
      list.forEach(elements => {
        elements.addEventListener('mouseenter', function
        (event){
          let color = event.target.getAttribute
          ('data-color');
          bg.style.backgroundColor = color;
        })
        elements.addEventListener('mouseleave', function
        (event){
          bg.style.backgroundColor = '#21283a';
        })
      })
    </script>
  </body>
</html>