@import url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2);
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}
section .container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
section .container .contactInfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0,0,0,0.2);
}
section .container .contactInfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactInfo .info
{
    position: relative;
    margin: 20px 0;
}
section .container .contactInfo .info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactInfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
section .container .contactInfo .info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactInfo .info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
section .container .contactInfo .info li:hover span:nth-child(1) img,
section .container .contactInfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}
section .container .contactInfo .sci
{
    position: relative;
    display: flex;
}
section .container .contactInfo .sci li
{
    list-style: none;
    margin-right: 15px;
}
section .container .contactInfo .sci li a
{
    text-decoration: none;
}
section .container .contactInfo .sci li a img
{
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactInfo .sci li:hover a img
{
    opacity: 1;
}
section .container .contactForm
{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: rgba(0,0,0,0.5);
}
section .container .contactForm h2
{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactForm .formBox .inputBox
{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox.w50
{
    width: 47%;
}
section .container .contactForm .formBox .inputBox.w100
{
    width: 100%;
}
section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .container .contactForm .formBox .inputBox textarea
{
    min-height: 120px;
}
section .container .contactForm .formBox .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}
section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

section .container .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactForm .formBox .inputBox input[type="submit"]:hover
{
    background: #ff568c;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;
}
header .logo
{
	font-size: 2em;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 600;
	text-decoration: none;
	transition: 0.5s;
	transform-origin: right;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 70%;
    align-content: center;
    width: 78px;
    border-radius: 20px;
    margin-top: 110px;
    margin-left: 8px;
    background: #112d42;
    padding: 6px 14px;
}
.sidebar ul{
    margin-top: 25px;
}
.sidebar ul li{
    list-style: none;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    line-height: 35px;
    height: 35px;
    width: 122px;
    background: #fff;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 0.8;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #112d42;
    background: #fff;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    font-size: 26px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}